*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.banner_heading
{
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
#Tariffo_heading
{
  margin: 25px;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluids {
  height: 60px;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container-fluids .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container-fluids .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  
}

.container-fluids .logo a img {
  width: 50%;
  max-height: 100%;
}

.container-fluids .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container-fluids .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-fluids .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container-fluids .navbar ul li a:hover {
  
 text-decoration-color: #000;
}
@media only screen and (min-width: 1072px){
#nav_style
{
  margin-left:20%;
}
}


.container-fluids .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container-fluids .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container-fluids .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container-fluids .navbar .icon-bar i {
  background-color: #fdf6f6;
  height: 2px;
}

@media only screen and (max-width: 1072px) {
  .container-fluids {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #000;
  

      }
      @media (min-width: 1072px) and (max-width: 1196px)
      {
        .container-fluids {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          background-color: #000;
        
      
            }

      }
  @media only screen and (min-width: 1072px) {
    .container-fluids
    {
background-color: rgb(252, 247, 247);
    }
  }
  .container-fluids .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0%;
  }

  .container-fluids .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container-fluids .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background:rgb(253, 248, 248);
    
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container-fluids .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: rgb(14, 9, 9);
   
  }

  .container-fluids .navbar ul .close {
    display: block;
  }

  .container-fluids .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container-fluids .navbar ._Menus-show {
    left: 0;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(187, 47, 47);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-lists a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 238, 255);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: visible;
}

.dropdown-content a {
  float: none;
  color: rgb(235, 33, 33);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  overflow: visible;
}

.dropdown-content a:hover {
  display: block;
  background-color:black;
}

.dropdown:hover .dropdown-content {
  overflow: visible;
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}
#banner_img
{
  width: 100%;
  height: 150%;
  margin-top: 1%;
}








/* bootstrap dropdown hover menu*/

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4f5d6e;
  position: relative;
 background-color: white;}

.slant {
  position: relative;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  color: #fff;
}


.slant:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}
.access
{
  width: 100%;
  height: auto;
  margin-top: 2%;
}

.explore_btn{position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: rgb(245, 240, 240);
color: rgb(5, 5, 5);
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
opacity: 0.5;
}
@media only screen and (min-width:1000px)
 { #logotag{
  text-align: center;
  padding-top: 4rem
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #logotag
  {
    text-align: center;
    padding-top: 2rem
  }
  }
  @media only screen and (max-width : 500px) {
    #logotag
    {
      text-align: center;
      padding-top: 2rem
    }
    }

.explore_btn:hover {
  background-color: black;
  color: white;
}
video {
  width: 100%;
  height: auto;
  margin-left: 0%;
}
.zoom {
  padding: 1px;
  background-color: rgb(183, 0, 255);
  transition: transform .2s; /* Animation */
  
  
  margin: 0 auto;
}
@media (min-width: 990px) and (max-width: 1280px) {
.zoom:hover {
  transform: scale(1.4); 
  width: 80%;
  margin-left: 1%;
}
}
.img-with-text {
  text-align: justify;
  width: [width of img];
}

.img-with-text img {
  display: block;
  margin: 0 auto;
  
}
.span
{
  width: 50%;
}
#tariffo_logo
{
  border-radius: 10%;
  margin-left: 8%;
}
#heading_new_arrivals{
  text-align: center;
  font-family: HelveticaNeue-Light Helvetica Neue Light Helvetica Neue Helvetica, Arial Lucida Grande, sans-serif; 
  font-weight: 300;font-size: 250%; margin-top: 5%;
   margin-left: 0%;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .left_buzz
  {
    padding-left: 80px;
    text-align: justify;
  }
  .right_buzz
  {
    padding-right: 80px;
    text-align: justify;
  }
}
@media (min-width: 576px)and (max-width:992px)
{
  .access{
    height: 55%;
  }
}
@media (min-width: 786px)and (max-width:1024px)
{
  .access{
    height:40%;
  }
}
.full {
  width: 100%;	
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: #EDEFF1;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
border-bottom: 1px solid #BAC1C8;
color: #54697E;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 10px;
text-transform: uppercase;
}
.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 15px;
color: #7F8C8D;
}
.footer ul li a {
padding: 0 0 5px 0;
display: block;
}
.footer a {
color: #78828D
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
background: #FFFFFF;
display: inline-block;
float: left;
height: 30px;
clear: both;
width: 100%;
}
.newsletter-box .btn {
border: medium none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
display: inline-block;
height: 40px;
padding: 0;
width: 100%;
color: #fff;
}
.newsletter-box {
overflow: hidden;
}
.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
background: none repeat scroll 0 0 #B5B5B5;
border: 2px solid #B5B5B5;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
float: left;
height: 36px;
line-height: 36px;
margin: 0 8px 0 0;
padding: 0;
text-align: center;
width: 36px;
transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-webkit-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
}
.social li:hover {
transform: scale(1.15) rotate(360deg);
-webkit-transform: scale(1.1) rotate(360deg);
-moz-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
color: #EDEFF1;
}
.social li:hover {
border: 2px solid #2c3e50;
background: #2c3e50;
}
.social li a i {
font-size: 16px;
margin: 0 0 0 5px;
color: #EDEFF1 !important;
}
.footer-bottom {
background: #E3E3E3;
border-top: 1px solid #DDDDDD;
padding-top: 10px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
}
.payments {
font-size: 1.5em;	
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  color: #000
} 
hr.new1 {
  border-top: 1px solid;
}


.footer {
  padding: 30px 0;
  background: #ebebeb;
}
.footer {
  border: none;
  margin-top: 30px;
}
.footer {
  clear: both;
  width: 100%;
  border-top: 1px solid #cccccc;
}
.footer, .footer button {
  font-family: 'Gotham-Book';
}



#sponsor_1
{

  margin-top: 0px;

   /* width: 280px; */
   border-radius: 10px;
   margin-left: 0px;
   margin-top: 25px;
     height: 100px;
     overflow-x: hidden;
     width: auto;


  }

  
#sponsor_2
{

  margin-top: 0px;

   /* width: 280px; */
   border-radius: 10px;
   margin-left: 0px;
   margin-top: 25px;
     height: 100px;
     width: auto;
     overflow-x: hidden;


}
@media (min-width: 1200px) 

{
  #footer_logos_div
  {
    margin-left: 200px;
    margin-right: 200px;
  }
  #sponsor_2
{

  margin-top: 0px;

   /* width: 280px; */
   border-radius: 10px;
   margin-left: 0px;
   margin-top: 25px;
     height: 100px;
     width: 120px;
     overflow-x: hidden;


}

#horizontal_lists
{
  margin-left:20%;
}
#horizontal_listss
{
  margin-left:15%;
}
#free_shipping_footer{
  margin-top:45px;
}
.vl {
  border-left: 1px solid rgb(201, 196, 196);
  margin-top: 10px;
  height: 250px;
  position: relative;
  left: 80%;
  margin-left: -135px;
  top: 0;
  width: -6%;
}
.span_3
{
  width: 25%;
}
cod-returns-section {
  background: none;
  padding: 0;
  border-right: 1px solid #ccc;
}

}
.span_3
{
  width: 25%;
}
cod-returns-section {
  background: none;
  padding: 0;
  border-right: 1px solid #ccc;
}
ul#horizontal_lists li {
  display: inline-block;
  margin-left: 5%;
}
ul#horizontal_listss li {
  display: inline-block;
  margin-left: 5%;
}
@media (max-width:500px)
{
#horizontal_lists
{
  margin-left:10%;
}
}
.col-left.sidebar.col-left-first {
  position: sticky;
  top: 115px;
}

element.style {
}
body:not(.customer-account) .block:first-child .block-title {
    border-top: none;
    padding-top: 0;
}

.col-left.sidebar.col-left-first .block-title {
    display: none;
}
.block-title {
    position: relative;
    padding: 10px 0 0;
    margin-bottom: 5px;
    border-top: 1px solid #cccccc;
}
.block-content {
  margin-top: 5px;
}

element.style {
}
@media only screen and (max-width: 1023px)
dl#narrow-by-list {
    width: 100%;
}
dl#narrow-by-list {
    width: 90%;
}
body * {
    letter-spacing: 0px !important;
}
@media only screen and (max-width: 1023px)
{
dl#narrow-by-list dt {
    background: url(../images/plus.png) right center;
    background-repeat: no-repeat;
    background-position: 93% 50%;
}


dl#narrow-by-list dt {
    background: url(../images/minuss.png) right center;
    background-repeat: no-repeat;
    background-position: 93% 50%;
    text-transform: uppercase;
}
dl#narrow-by-list dt {
    background-color: none;
    border: none;
    font-size: 13px;
    color: #000;
    font-family: 'Gotham-Medium';
    padding: 5px;
}
}
@media only screen and (max-width: 1023px)
{
.block-layered-nav .block-content>dl>dt {
    padding-left: 0px;
}
}
@media only screen and (min-width: 771px)
{
.block-layered-nav .block-content > dl > dt {
    padding-left: 10px;
}
}



@media only screen and (max-width: 1023px)
{
dl#narrow-by-list dd {
    display: none;
}
dl#narrow-by-list dd {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 4px 7px 13px 7px;
    line-height: 19px;
    display: block;
    margin-bottom: 15px;
}
.block-layered-nav .block-content > dl > dd {
    padding: 10px;
    margin: 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #cccccc;
}
.block-layered-nav dl dd {
    margin-bottom: 10px;
    margin-top: 10px;
}
}


@media only screen and (max-width: 1023px)
dl#narrow-by-list dt {
    background: url(../images/plus.png) right center;
    background-repeat: no-repeat;
    background-position: 93% 50%;
}
dl#narrow-by-list dt {
    background: url(../images/minuss.png) right center;
    background-repeat: no-repeat;
    background-position: 93% 50%;
    text-transform: uppercase;
}
dl#narrow-by-list dt {
    background-color: none;
    border: none;
    font-size: 13px;
    color: #000;
    font-family: 'Gotham-Medium';
    padding: 5px;
}
@media only screen and (max-width: 1023px)
{
.block-layered-nav .block-content>dl>dt {
    padding-left: 0px;
}
}
@media only screen and (min-width: 771px)
{
.block-layered-nav .block-content > dl > dt {
    padding-left: 10px;
}
}

.col-lg-3 {
  position: relative;
  width: 50%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width:0;
  height: 100%;
  transition: .5s ease;
  
  
}

.col-lg-3:hover .overlay {
  width:100%;;
  left: 0;
  right: 0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.explore_btn_product{position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(253, 4, 149);
  color: rgb(5, 5, 5);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 1;

  }
